@import 'src/styles/vars';
@import 'src/styles/breackpoint';

#sectionToggleButton {
  position:fixed;
  top:5em;
  right:0em;
  z-index:999;
  background: transparent;
  border:none;
  cursor: pointer;
  box-sizing: border-box;
   visibility: visible;

   &-icon{
    margin:0.5em;
    
   }
    &-icon:hover, &-icon:after{
   color: $backgroundNav;
   cursor:pointer;
   }
}
#sectionToggleButton:hover, #sectionToggleButton:after{
   color: $backgroundNav;
   cursor:pointer;
   }
#sectionToggleButton:focus {
  outline: none;
}
