// background map color inspiration
// #c7f0db
// #8bbabb
// #6c7b95
// #464159

//navColor
$backgroundNav:#eff0ef;
$colorTitleNav:#6c7b95;
$colorHoverNav:#8bbabb;

//home
$backgroundButton: rgba($color: #eff0ef, $alpha: 0.2);

//background
$backgroundAbout:darken(#eff0ef,10%);
$backgroundShare:#eff0ef;
$backgroundFooter:#eff0ef;
$backgroundSkills:lighten(#8bbabb,5%);
$backgroundButton:#8bbabb;
$backgroundButtonHover: lighten(#8bbabb,15%);


// soulignement 
$colorLineTitle: #6c7b95;


