@import 'src/styles/vars';
@import 'src/styles/breackpoint';

#about {
  width: 100%;
    top:100px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
// presentation part (description + profil picture)
  &-presentationContainer{
      width:50%;
      margin:3em 0em 0em 0em;
  display:flex;
  justify-content: center;
  flex-direction: column;
  
     @include breakpoint(papabro-bear) {width:50%;}
     @include breakpoint(mama-bear) {width:50%;}
     @include breakpoint(aunt-bear) {width: 50%;}
     @include breakpoint(uncle-bear) {width:50%;}
     @include breakpoint(baby-bear) {width:80%;}

}
    &-description{
      // background-color: green;
      display:flex;
      margin:1em 0em 0em 0em;
     @include breakpoint(uncle-bear) {width:100%; margin:1em 0em;}
     @include breakpoint(baby-bear) {width: 100%; margin:1em 0em;}
   
    }
  &-ContainerImage{
    // background-color: red;
   width: 100%;
   height: 50%;
  display: flex;
  justify-content: center;
     @include breakpoint(uncle-bear) {justify-content: center;width:100%;}
     @include breakpoint(baby-bear) {justify-content: center;width:100%;}

  }
  &-image{ 
     width:50%;
    height: 50%;
    max-width: 50%;
    max-height: 50%;
     @include breakpoint(mama-bear) {
       width:70%;
        height: 70%;
        max-width: 70%;
        max-height: 70%;
    }   
  @include breakpoint(aunt-bear) {     
       width:70%;
        height: 70%;
        max-width: 70%;
        max-height: 70%;
    }   
  @include breakpoint(uncle-bear) {     
     width:70%;
        height: 70%;
        max-width: 70%;
        max-height: 70%;
    }    
  @include breakpoint(baby-bear) {     
      width:70%;
        height: 70%;
        max-width: 70%;
        max-height: 70%;
    }  
  }


  // competences part 
 &-competences{
  //  background-color:yellow;
  width:50%;
   display:flex;
   flex-direction: column;  
  @include breakpoint(baby-bear) {width: 40%; justify-content: center; }
 }

 // fontpart 
  &-sectionTitle{
       font-size: 90px;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
  

     @include breakpoint(uncle-bear) {font-size: 60px;}
    @include breakpoint(baby-bear) {font-size: 40px;}
  }
  &-subtitle{
   font-size: 1.7em;
   font-family: 'Alegreya Sans SC', sans-serif;
    margin: 2.2em 0em 1em 0em;
    text-transform: uppercase;
    font-weight: bold;
     @include breakpoint(papabro-bear) {font-size: 1.4em;}
     @include breakpoint(mama-bear) {font-size: 1.3em;}
    @include breakpoint(aunt-bear) {font-size: 1.2em;}
 }
 &-paragraph{
   font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
     @include breakpoint(papabro-bear) {font-size: 0.8em;}
     @include breakpoint(mama-bear) {font-size: 0.8em;}
    @include breakpoint(aunt-bear) {font-size: 0.8em;}
 }

 &-subtitleSection{
 font-size: 1.4em;
  font-family: 'Alegreya Sans SC', sans-serif;
 margin: 0.6em 0em;
     @include breakpoint(papabro-bear) {font-size: 1.2em;}
     @include breakpoint(mama-bear) {font-size: 1.1em;}
    @include breakpoint(aunt-bear) {font-size: 1em;}
 }
&-listSection{
   font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0em 0.6em;
    @include breakpoint(papabro-bear) {font-size: 0.8em;}
    @include breakpoint(mama-bear) {font-size: 0.7em;}
    @include breakpoint(aunt-bear) {font-size: 0.7em;}
  }
  &-ulSection {
    margin: .5em 0;
    padding-left: .5em;
    font-size: 1.2em;
    border-left: 1px solid #535353;
    list-style: none;
  }
}

