@import 'src/styles/breackpoint';
#toggleButton {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border:none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  @include breakpoint(maxi-papa-bear) { visibility: hidden; }   
  @include breakpoint(papa-bear) { visibility: hidden; }   
  @include breakpoint(mama-bear) { visibility: hidden; }
  @include breakpoint(aunt-bear) { visibility: visible; }   
  @include breakpoint(baby-bear) { visibility: visible; }
  &-line {
    width:30px;
    height: 2px;
    background:black;
  }

}

#toggleButton:focus {
  outline: none;
}
