@import 'src/styles/vars';
@import 'src/styles/breackpoint';

#contact {
width: 100%;
margin-bottom: 10em;
  &-Container{
    width: 100%;
    display:flex;
    justify-content: center;
  }

   &-ContainerInfo {
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin:1.4em 0em;

 }

  &-ContainerImage{
  display: flex;
  justify-content: center;
  }

  &-ContainerShare{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:5em;
    // background-color: $backgroundShare;

  }


  &-image{ 
    width: 100%;
    height: 100%;
  @include breakpoint(uncle-bear) {width: 90%; height:90%;}
  @include breakpoint(baby-bear) {width: 100%; height:100%;}
  }

  &-subtitle{
   font-size: 1.5em;
   font-family: 'Alegreya Sans SC', sans-serif;
  text-align: left;
  margin: 0em 0em 1.5em 2em;
   @include breakpoint(uncle-bear) {font-size: 0.7em;}
    @include breakpoint(baby-bear) {font-size: 0.7em;}
 } 
 &-sectionTitle{
    font-size: 90px;
    margin: 0.7em 0em;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
     @include breakpoint(uncle-bear) {font-size: 60px;}
    @include breakpoint(baby-bear) {font-size: 40px;}
  }
  &-linkShare{
    color:$colorTitleNav;
    margin: 1.2em 0em ;
  }
  &-linkShare:hover{
    color:$colorHoverNav;
    text-decoration: none;
  }

  &-iconShare{

  }

}

